<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PublicAddress" value="14yhPbUgcYjbUui3B15hxotAbCLXNj7gEp" />
		<add key="EncryptedPrivateKey" value="6PnWSWJ9hTRhbC4ZebvcS4NtDAsaZRjuRhv8T6MTj1C1Ls427Tg4Yc3xvE" />
		<add key="DictionaryFiles" value="testpasswords.txt" />
		<add key="NumberOfWorkers" value="4" />
		<add key="ReportInterval" value="1" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>